<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ metadata.title }} | Callum Oakley</title>
<link rel="preload" href="/fonts/QuinnText-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/QuinnText-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/concourse_t4_regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/IBMPlexMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="../style.css">
</head>
<body>
<header>
<a href="/">callum oakley</a>
</header>
